build: [
  ["dune" "subst"] {dev}
  ["dune" "build" "-p" name "-j" jobs]
  ["dune" "build" "-p" name "-j" jobs "@doc"] {with-doc}
  [
    "dune"
    "build"
    "--workspace"
    "dune-workspace.no-crosscompile"
    "-p"
    name
    "-j"
    jobs
    "@runtest"
  ] {with-test & os != "macos"} # on Apple Silicon get 'signal BUS'
]
post-messages: "This package requires libffi on your system" {failure}
